<section id="tp05" ng-controller="TripsListController as ctrl">
	<h1>TP 05 - Communication avec $http</h1>

	{{ctrl.errorGet}}
	
	<form name="ctrl.form">
		<ul ng-init="ctrl.getTrips()">
			
			<li ng-repeat="trip in ctrl.trips">
				
				<input type="text" name="tName{{trip.id}}" ng-model="trip.name" value="trip.name">-<input type="text" name="tPrice{{trip.id}}" ng-model="trip.price" value="trip.price"> €
				
				<button type="submit" ng-show="ctrl.form['tName'+trip.id].$dirty || ctrl.form['tPrice'+trip.id].$dirty" ng-click="ctrl.updateTrip(trip)">Save</button>
				
				<p>{{ctrl.errorUpdate}}</p>
				<p>{{ctrl.successUpdate}}</p>
				
				<img ng-src="{{trip.imageUrl}}" alt="img-{{trip.name}}">

			</li>

		</ul>
	</form>
</section>
