<section id="tp04" ng-controller="FormsController as ctrl">
	<h1>TP 04 - Formulaire</h1>

	<!-- Test 1 : model binding -->
	<!-- TODO : ajouter l'affichage des données saisies via un modèle -->
	<form name="form1">
		Name: <input ng-model="user.name" type="text"/><br>
		E-mail: <input ng-model="user.email" type="email"/><br>
		
		<p>{{user}}</p>
	</form>


	<!-- Test 2 : 2 états-->
	<!-- TODO :
	- ajouter un bouton de sauvegarde et un bouton de reset
	- ajouter l'affichage de l'état édition et de l'état tampon
	-->
	<form name="form2">
		Name: <input ng-model="ctrl.currentUser.name" type="text" name="uName"/><br>
		E-mail: <input ng-model="ctrl.currentUser.email" type="email" name="uEmail"/><br>

		<button ng-click="ctrl.reset()">RESET</button>
		<button ng-click="ctrl.save()">SAVE</button>

		<p ng-show="form2.uName.$dirty || form2.uEmail.$dirty">Current: {{ctrl.currentUser}}</p>
		<p>Saved: {{ctrl.savedUser}}</p>
		
	</form>

	
	<!-- Test 3 : validation -->
	<!-- TODO : ajouter une validation Angular avec affichage des erreurs et
	utilisation des classes CSS -->
	<form id="form3" name="form3" novalidate>
		Name: <input type="text" ng-model="ctrl.user3.name" name="uName" required/><br>
		<div ng-show="form3.uName.$dirty">
			<p ng-show="form3.uName.$error.required">Invalid: Tell us your name</p>
			<p ng-show="form3.uName.$error.required">Errors: {{form3.uName.$error}}</p>
		</div>

		E-mail: <input type="email" ng-model="ctrl.user3.email" name="uEmail" required/><br>
		<div ng-show="form3.uEmail.$dirty && form3.uEmail.$invalid">
			<p ng-show="form3.uEmail.$error.required">Invalid: Tell us your email</p>
			<p ng-show="form3.uEmail.$invalid">Invalid: This is not a valid email</p>
			<p ng-show="form3.uEmail.$error.required || form3.uEmail.$error.email">Errors: {{form3.uEmail.$error}}</p>
		</div>
	</form>

</section>
